html{
background-color: #EBE7EE;
color: black;
font-family: 'Mooli', sans-serif;
font-size: 20px;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;


}

header {
    background-color: #089C00;
    color: white;
    padding: 20px;
}

main {
    flex: 1; /* Allow the main content to expand and push the footer down */
    padding: 20px;
}

footer {
    background-color: #089C00;
    color: white;
    padding: 20px;
    text-align: left;
}


nav {
    margin: 0;
    padding: 0;
    background-color: #089C00;
}

/* Style for the navigation list */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Style for each navigation item */
nav li {
    float: left;
}

/* Style for the navigation links */
nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change link color on hover */
nav a:hover {
    background-color: #247820;
}



input{
background-color: #B5B5B5;
margin: 20px;
border-radius: 20px;
text-align: center;
font-size: 20px;



}

input::placeholder{

color: #737373;

}


button{
background-color: #089C00;
padding: 2vh;
font-size: 20px;
border-radius: 20px;


}
section{
    text-align: center;
    
}



#emailP{
    padding-top: 100px;
}
h1{
    text-align: center;


}