{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

{% if name %}
    <h1>{{name}}</h1>
{% else %}
    <h1>Enter anything</h1>
    <br/>
    <form method = "POST">
        {{ form.hidden_tag() }}
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
        <br/>
        {{ form.submit(class="btn btn-secondary") }}
    </form>
{% endif %}
{% endblock %}
