{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
	
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  {{ message }}
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	
{% endfor %}


	<h1>Dashboard</h1>
	<br/><br/>
	<div class="card">
		<div class="card-header">
			{{ current_user.name }}
		</div>
		<div class="card-body">
		  <h5 class="card-title">Account Information</h5>
		  <p class="card-text">
			<strong>Name: </strong>{{ current_user.name }}<br/>
			<strong>Username: </strong>{{ current_user.username }}<br/>
			<strong>User ID: </strong>{{ current_user.id }}<br/>
			<strong>Email: </strong>{{ current_user.email }}<br/>
			<strong>University: </strong>{{ current_user.favorite_color }}<br/>
			<strong>Date Joined: </strong>{{ current_user.date_added }}<br/>
		  </p>
		  <a href="{{ url_for('logout') }}" class="btn btn-secondary btn-sm">Logout</a>
		  <a href="{{ url_for('update', id=current_user.id) }}" class="btn btn-secondary btn-sm">Update</a>
		  <a href="{{ url_for('delete', id=current_user.id) }}" class="btn btn-danger btn-sm">Delete</a>

		</div>
	  </div>

	<br/><br/>
	
   


	


<div class="shadow p-3 mb-5 bg-body rounded">
	
</div>
<br/><br/><br/>


{% endblock %}