<!DOCTYPE html>
{% block content %}
<html lang="en">


{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mooli&display=swap" rel="stylesheet">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet"type = "text/css" href="{{ url_for('static',filename='screen.css') }}"/>
  </head>
  <body>
    <header id="header">
        <h1>Review for {{ post.title }}</h1>
        <nav id="site-nav">
          <ul>
            <li><h3><a href="{{url_for('index')}}"> <img src="/static/icon.png" alt="Class Champion Logo"></a></h3></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('index')}}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('f_posts')}}">Students</a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('f_professors')}}">Professors</a></li>
  
            <li class="nav-item"><a class="nav-link" href="{{url_for('f_add_post')}}">Leave a Review</a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('f_help')}}">Help</a></li>
            <li class="nav-item"><a class="nav-link" href="{{url_for('f_dashboard')}}">Account</a></li> <!-- Updated href attribute -->
            {% if current_user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{{url_for('logout')}}">Logout</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{{url_for('f_login')}}">Login</a></li>
    
            {% endif %}
            <li>
              <form method="POST" action="{{url_for('search')}}">
                <div class="search-container">
                  {{form.hidden_tag()}}
                <input type="text" name="searched" class="form-control me-2" placeholder="Class/Professor">
                <button id="searchButton" type="submit">Search</button>
                </div>
              </form>
            </li>
            
          </ul>
          </nav>
        </header>
        <main id="content">


<section class="classSection" id="review-container">    
    <h2>Course: {{ post.title }} </h2></br>
    Date Posted: {{post.date_posted.strftime('%m/%d/%Y')}} <br/></br>
    Username: {{ post.author }} <br/></br>
    Rating: {{post.slug}}/5 </br></br>
    <p>Content: {{ post.content }}</p> <br/> 
</section>
<br/>

<main id="content">
  <br/>
  <a href="{{ url_for('f_posts') }}">
    <button class="small-button">Back to Reviews Page</button>
  </a>
  <br/>

  <a href="{{ url_for('f_edit_post', id=post.id) }}">
    <button class="small-button">Edit</button>
  </a>
  <br/>

  <a href="{{ url_for('f_post_delete', id=post.id) }}">
    <button class="small-button">Delete</button>
  </a>
</section>




</html>
{% endblock %}

