<!DOCTYPE html>
{% block content %}
<html lang="en">

{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mooli&display=swap" rel="stylesheet">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='screen.css') }}" />
</head>

{% if id == current_user.id %}

<body>
  <header id="header">
    <h1>Update Your Profile</h1>

    <nav id="site-nav">
      <ul>
        <li>
          <h3><a href="{{ url_for('main.index') }}"></a><img src="/static/icon.png" alt="Class Champion Logo"></a></h3>
        </li>
        <li class="nav-item"><a class="nav-link" href="{{url_for('main.index')}}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{{url_for('main.f_class')}}">Classes</a></li>
        <li class="nav-item"><a class="nav-link" href="{{url_for('main.f_professors')}}">Professors</a></li>

        <li class="nav-item"><a class="nav-link" href="{{url_for('main.f_help')}}">Help</a></li>
        <li class="nav-item"><a class="nav-link" href="{{url_for('main.f_dashboard')}}">Account</a></li>
        <!-- Updated href attribute -->
        {% if current_user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{{url_for('main.logout')}}">Logout</a></li>
        {% if current_user.username == 'admin' %}
        <li class="nav-item"><a class="nav-link" href="{{url_for('main.addClass')}}">Add Classes</a></li>
        <li class="nav-item"><a class="nav-link" href="{{url_for('main.addProfessor')}}">Add Professors</a></li>
        {% endif %}
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{{url_for('main.f_login')}}">Login</a></li>

        {% endif %}
        <li>
          <form method="POST" action="{{url_for('main.search')}}">
            <div class="search-container">
              {{form.hidden_tag()}}
              <input type="text" name="searched" class="form-control me-2" placeholder="Class/Professor">
              <button id="searchButton" type="submit">Search</button>
            </div>
          </form>
        </li>

      </ul>
    </nav>
  </header>
  <main id="content">
    <p>

    </p>
    </br></br>

    <section>
      <form method="POST" action="{{ url_for('main.f_update', id=id) }}">
        {{ form.hidden_tag() }}
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control", value=user_to_update.name) }}
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control", value=user_to_update.username) }}
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control", value=user_to_update.email) }}
        {{ form.school_id.label(class="form-label") }}
        {{ form.school_id(class="form-control", value=user_to_update.school_id) }}

        {% if user_type == 'student' %}
        {{ form.student_id.label(class="form-label") }}
        {{ form.student_id(class="form-control", value=user_to_update.student_id) }}
        {{ form.major.label(class="form-label") }}
        {{ form.major(class="form-control", value=user_to_update.major) }}
        {% elif user_type == 'professor' %}
        {{ form.teacher_id.label(class="form-label") }}
        {{ form.teacher_id(class="form-control", value=user_to_update.teacher_id) }}
        {% endif %}

        <br>
        {{ form.submit(class="btn btn-secondary") }}
      </form>

      <a href="{{ url_for('main.f_delete', id=user_to_update.id) }}">
        <button class="small-button">Delete</button>
      </a>
    </section>

  </main>
  <footer id="footer">

    <ul>
      <li><a href="{{ url_for('main.aboutus') }}">About Us</a></li>
      <li><a href="{{ url_for('main.ourMission') }}">Our Mission</a></li>
      <li><a href="{{ url_for('main.contactUs') }}">Contact Us</a></li>
      <li><a href="{{ url_for('main.futurePlans') }}">Future Plans</a></li>



    </ul>
    <p>Site content for Course Reviewer (Group E)</p>
  </footer>
</body>

{% else %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  Sorry! You Can't Edit This User...
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<h2>Access Denied!</h2>
<p>Sorry, you cannot access this user profile...</p>

{% endif %}

</html>
{% endblock %}