{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<h1>Review for {{ post.title }} s</h1>
<br/>

<section class="classSection" id="classReviewSection" >
    <h2>{{ post.title }} </h2>
    By: {{ post.author }} <br/>
    {{ post.date_posted }} <br/>
    {{ post.slug }} <br/>
    {{ post.content }} <br/> <br/>
</section>
<br/>
   
<a href="{{url_for('posts')}}" class="btn btn-outline-secondary btn-sm">Back to Blog</a>
<a href="{{url_for('edit_post', id=post.id)}}" class="btn btn-outline-secondary btn-sm">Edit Post</a>
<a href="{{url_for('delete_post', id=post.id)}}" class="btn btn-outline-danger btn-sm">Delete Post</a>




{% endblock %}
