<!DOCTYPE html>
{% block content %}
  <html lang="en">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mooli&display=swap" rel="stylesheet">
      <head>
        <meta charset="utf-8" />
        <link rel="stylesheet"type = "text/css" href="{{ url_for('static',filename='screen.css') }}"/>
      </head>
      <body>
        <header id="header">
          <h1>Search Results</h1>
          <nav id="site-nav">
            <ul>
              <li><h3><a href="{{ url_for('main.index') }}"></a><img src="/static/icon.png" alt="Class Champion Logo"></a></h3></li>
              <li class="nav-item"><a class="nav-link" href="{{url_for('main.index')}}">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="{{url_for('main.f_class')}}">Classes</a></li>
              <li class="nav-item"><a class="nav-link" href="{{url_for('main.f_professors')}}">Professors</a></li>
    
              <li class="nav-item"><a class="nav-link" href="{{url_for('main.f_help')}}">Help</a></li>
              <li class="nav-item"><a class="nav-link" href="{{url_for('main.f_dashboard')}}">Account</a></li> <!-- Updated href attribute -->
              {% if current_user.is_authenticated %}
              <li class="nav-item"><a class="nav-link" href="{{url_for('main.logout')}}">Logout</a></li>
              {% if current_user.username == 'admin' %}
              <li class="nav-item"><a class="nav-link" href="{{url_for('main.addClass')}}">Add Classes</a></li>
              <li class="nav-item"><a class="nav-link" href="{{url_for('main.addProfessor')}}">Add Professors</a></li>
              {% endif %}
              {% else %}
              <li class="nav-item"><a class="nav-link" href="{{url_for('main.f_login')}}">Login</a></li>
      
              {% endif %}
              <li>
                <form method="POST" action="{{url_for('main.search')}}">
                  <div class="search-container">
                    {{form.hidden_tag()}}
                  <input type="text" name="searched" class="form-control me-2" placeholder="Class/Professor">
                  <button id="searchButton" type="submit">Search</button>
                  </div>
                </form>
              </li>
              
            </ul>
            </nav>
        </header>
        <main id="content">
          <h1>You searched for "{{ searched }}"</h1>
          <ul>
            {% for result in results %}
            <div class="search-result">
              {% if result.type == 'Course' %}
                <a href="{{ url_for('main.f_class', course_name=result.name, searched=True) }}">{{ result.name }}</a>
              {% elif result.type == 'Professor' %}
                <a href="{{ url_for('main.f_professors', professor_name=result.name, searched=True) }}">{{ result.name }}</a>

              {% endif %}
            </div>
          {% endfor %}
          
          </ul>
              <section class="container">
                <button class="revButton"><span>&#9664;</span> </button>
                <button class="revButton"> <span>&#9654;</span></button>
              </section>

            </section>
        </main>
        <footer id="footer">
        
          <ul>
              <li>About us</li>
              <li>Our Mission</li>
              <li>Help</li>
              <li>Contact Us</li>
              <li>Future Plans</li>
  
  
  
          </ul>
      <p>Site content for Course Reviewer (Group E)</p>
      </footer>
    </body>
  </html>
  {% endblock %}














